extends layout

block variables
  - var title = "Home"

block content
  h2.text-center 2019 NCAA Pick 'Em

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to the new NCAA Pick Two hub! Please create an account above, or login
        